.jumbotron {
    height: 355px;
    background-image: url("Capture.png");
    background-size: cover;
    background-position: center center no repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

h2 {
    position: absolute;
    bottom: 130px;
    left: 70px;
    margin-top: 0;
    padding-top: 0;
    font-size: 55px;
}

.row page_header {
    background-color: green;
    font: white;
}

#pageTitle {
    justify-content: center;
    margin-top: 20px;
}

.index_text_area {
    text-align: left;
    margin-left: 200 px;
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 20px;
}

.text_area {
    text-align: left;
    margin-left: 200 px;
    margin-top: 25px;
    margin-bottom: 50px;
    padding-bottom: 0;
    font-size: 20px;
}

#overallBar {
    margin-left: 35px;
    margin-top: 60px;
}

#featureImportance {
    margin-left: 10px;
    margin-top: 0;
    padding-top: 0;
}

#featuresSales {
    margin-left: 35px;
    margin-top: 0;
    padding-top: 0;
}

#featuresRD {
    margin-left: 35px;
    margin-top: 0;
    padding-top: 0;
}

#sales {
    margin-left: 35px;
    width: 800px;
    margin-top: 0;
    padding-top: 0;
}

#RD {
    width: 800px;
    margin-left: 50px;
    margin-top: 0;
    padding-top: 0;
}

#tableau-area {
    margin-top: 0;
    padding-top: 0;
}

.tableau_deepDive {
    margin-top: 0;
    padding-top: 0;
}

.tableau_dept {
    margin-top: 0;
    padding-top: 0;
    margin-left: 100px
}

.panel-heading {
    font-size: 16px;
    margin-left: 100px;
}

.panel-body {
    align-content: left;
    margin-left: 100px;
}

#selectFactor {
    background-color: white;
    color: black;
}

.table-head {
    font-size: 16px;
    color: white;
}

td {
    font-size: 15px;
}

#tableArea {
    margin-left: 200px;
}

.col-md-4 {
    margin-top: 0;
}

#factorChart {
    height: 500px;
    margin-top: 0;
    padding-top: 0
}

#blsTable {
    margin-top: 20px;
}

.col-md-6.bls {
    margin-top: 50px;
}

.sub-container {
    margin-top: 50px;
}

.link-container {
    margin-top: 270px;
}

.link-container-video {
    margin-top: 150px;
}

.link-container-article {
    margin-top: 150px;
}

th,
td {
    padding: 8px;
    padding-right: 4px;
}

th {
    text-align: left;
    background-color: darkgreen;
    color: white;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
    background-color: #fff;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 100px;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

#millenialsVideo {
    margin-top: 100px;
}

.videoImg {
    margin-top: 50px;
}

.sales_articleImg {
    margin-top: 40px;
}